<div data-test="logo">Logo</div>
<div data-test="search">Search</div>
<div data-test="menu">Menu</div>
<div class="">
    <ul data-test="menu">
        <li><a href="">Become a host</a></li>
        <li><a href="">Help</a></li>
        <li><a href="">Sign Up</a></li>
        <li><a href="">Login In</a></li>
    </ul>
    <div>
        <div data-test="home-type">
            <button>Home Type</button>
        </div>
        <div data-test="dates">
            <button>Dates</button>
        </div>
        <div data-test="guests">
            <button>Guests</button>
        </div>
        <div data-test="home-type">
            <button>Home Type</button>
        </div>
        <div data-test="price">
            <button>Price</button>
        </div>
        <div data-test="rooms">
            <button>Rooms</button>
        </div>
        <div data-test="amenities">
            <button>Amenities</button>
        </div>
    </div>
</div>